.body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header-bar{
    /* border:1px solid black; */
    width: 70%;
    background-color: #D7D9CE;
    display: inline-flex;
    justify-content: space-evenly;
    height: 45px;
    margin-left: 15%;
    /* padding: 10px; */
    /* border: 1px solid black; */
}
.logo-home{
    width: 40px;
    height:40px;
}
/* .div-logo, .search-section, .nav-header{
    justify-content: space-between;
    margin-left: 100px;
} */
.nav-header{
    /* border: 1px solid yellow; */
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
.search-input{
    border-radius: 5px;
    width: 200px;
}

.search-section{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    /* border: 1px solid red; */
}


/* div{
    border: 5px solid blue;
} */

/* To remove the list style dot on un-ordered lists in html 
li{
    list-style-type: none;
    display: inline-flex;
} */

header>div>input{
    border:1px solid #13505b;
    color: #13505b;
    width: 200px;
    height: 25px;
}

.nav-header{
    width: 300px;
    padding: 0px;
}
.nav-header a{
    text-decoration: none;
    color: #13505b;
    font-weight: bold;
    font-size: 0.9em;
    font-stretch: normal;
    font-family: Times;
    margin-right: 25px;
    margin-left: 25px;
}
.categories{
    display: flex;
    padding: 10px;
}
/* Desigining the categories section in the home page  */
.categories-div{
    background-color: #13505b;
    color:white;
    height: 300px;
    width: 12%;
    margin-right: 10px;
    margin-left: calc(18% + 10px);
    
}

.big-sale-div{
    background-color: #D7D9CE;
    width: 52%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.see-more-div{
    background-color: #D7D9CE;
    padding-bottom: 10px;
    color: #13505b;
    width:64%;
    height: 25px;
    margin-left:19.2%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

/* .right-text{
    
} */

.items-section{
    height: 250px;
    background-color: white;
    width: 64%;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 19.2%;
    display: flex;
    padding: 5px;


}
.item-div{
    width:20%;
    height: 200px;
}

.item-image{
    width: 150px;
    height: 150px;
}

.footer{
    margin-top: 10px;
    background-color: rgb(37, 36, 36);
    width: 70%;
    height: 250px;
    margin-left: 15%;
    color: white;

}

.big-sale-button{
    width: 200px;
    height: 30px;
    background-color: #13505b;
    color: white;
    border: none;
    margin: 10px;
}

.add-to-cart-button{
    width: 100px;
    height: 20px;
    background-color: #13505b;
    color: white;
    border: none;
}

.big-sale-div>div>h1{
    text-transform: uppercase;
    font-weight: bolder;
}

.big-sale-image{
    width: 200px;
    height: 200px;
    margin: 50px;
}

.div-logo{
    /* border: 1px solid green; */
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}
/* Below are the CSS formatting for my icons in the project  */

/* The .icon-space is the all space that contains the social-media icons  */
.icon-space{
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

/* .facebook-icon{
    fill: rgb(74, 74, 244);
    stroke: white;
} */